body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:766px;
  width:1140px;
  height:160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:80px;
  width:1140px;
  height:240px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:240px;
}
#u5 {
  position:absolute;
  left:2px;
  top:112px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:650px;
  top:1130px;
  width:450px;
  height:262px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:262px;
}
#u7 {
  position:absolute;
  left:2px;
  top:123px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:184px;
  top:140px;
  width:771px;
  height:130px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:65px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:130px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:110px;
  top:382px;
  width:920px;
  height:288px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:288px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:155px;
  top:831px;
  width:771px;
  height:65px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:65px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:65px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:1048px;
  width:385px;
  height:38px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:110px;
  top:1119px;
  width:500px;
  height:347px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:347px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:110px;
  top:1595px;
  width:280px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:110px;
  top:1657px;
  width:500px;
  height:505px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:505px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:110px;
  top:2368px;
  width:385px;
  height:38px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:38px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:110px;
  top:2428px;
  width:500px;
  height:372px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:372px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:110px;
  top:2792px;
  width:77px;
  height:77px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u27 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:217px;
  top:2792px;
  width:77px;
  height:77px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u29 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:315px;
  top:2792px;
  width:77px;
  height:77px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u31 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:110px;
  top:2234px;
  width:150px;
  height:35px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:1048px;
  width:40px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:1595px;
  width:40px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:2366px;
  width:40px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:650px;
  top:1667px;
  width:450px;
  height:262px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:262px;
}
#u41 {
  position:absolute;
  left:2px;
  top:123px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:650px;
  top:2438px;
  width:450px;
  height:262px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:262px;
}
#u43 {
  position:absolute;
  left:2px;
  top:123px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:55px;
  top:1102px;
  width:10px;
  height:483px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:466px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:483px;
}
#u45 {
  position:absolute;
  left:55px;
  top:1645px;
  width:10px;
  height:720px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:703px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:720px;
}
#u46 {
  position:absolute;
  left:40px;
  top:22px;
  width:130px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:28px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:970px;
  top:20px;
  width:130px;
  height:35px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:240px;
  top:24px;
  width:55px;
  height:27px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:345px;
  top:24px;
  width:73px;
  height:27px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:467px;
  top:24px;
  width:70px;
  height:27px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:150px;
  top:3020px;
  width:78px;
  height:22px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:110px;
  top:3002px;
  width:920px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u59 {
  position:absolute;
  left:110px;
  top:3052px;
  width:920px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u60 {
  position:absolute;
  left:112px;
  top:3017px;
  width:29px;
  height:29px;
  opacity:0.300000011920929;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:650px;
  top:1928px;
  width:450px;
  height:262px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:262px;
}
#u63 {
  position:absolute;
  left:2px;
  top:123px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:3060px;
  width:1140px;
  height:230px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:230px;
}
#u66 {
  position:absolute;
  left:2px;
  top:107px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:463px;
  top:3150px;
  width:57px;
  height:27px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:590px;
  top:3150px;
  width:73px;
  height:27px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:734px;
  top:3150px;
  width:73px;
  height:27px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:334px;
  top:3150px;
  width:58px;
  height:27px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:334px;
  top:3232px;
  width:473px;
  height:22px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1240px;
  top:30px;
  width:40px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:608px;
  top:2510px;
  width:1000px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  top:630px;
  width:320px;
  height:85px;
}
#u0_img.a {
  width:320px;
  height:85px;
}
#u1.a {
  top:34px;
  width:316px;
}
#u2.a {
  width:320px;
  height:55px;
}
#u2_img.a {
  width:320px;
  height:55px;
}
#u3.a {
  top:20px;
  width:316px;
}
#u4.a {
  top:55px;
  width:320px;
  height:200px;
}
#u4_img.a {
  width:320px;
  height:200px;
}
#u5.a {
  top:92px;
  width:316px;
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
  left:10px;
  top:92px;
  width:300px;
  height:126px;
}
#u8_img.a {
  width:300px;
  height:126px;
}
#u9.a {
  width:300px;
}
#u10.a {
  left:10px;
  top:279px;
  width:300px;
  height:323px;
}
#u10_img.a {
  width:300px;
  height:323px;
}
#u11.a {
  width:300px;
}
#u12.a {
  left:1px;
  top:642px;
  width:300px;
}
#u12_img.a {
  width:300px;
}
#u13.a {
  width:300px;
}
#u14.a {
  left:40px;
  top:750px;
  width:208px;
  height:27px;
}
#u14_img.a {
  width:208px;
  height:27px;
}
#u15.a {
  width:208px;
}
#u16.a {
  left:40px;
  top:794px;
  width:270px;
  height:251px;
}
#u16_img.a {
  width:270px;
  height:251px;
}
#u17.a {
  width:270px;
}
#u18.a {
  left:40px;
  top:1068px;
}
#u18_img.a {
}
#u19.a {
}
#u20.a {
  left:40px;
  top:1108px;
  width:265px;
  height:394px;
}
#u20_img.a {
  width:265px;
  height:394px;
}
#u21.a {
  width:265px;
}
#u22.a {
  left:40px;
  top:1607px;
  width:204px;
  height:27px;
}
#u22_img.a {
  width:204px;
  height:27px;
}
#u23.a {
  width:204px;
}
#u24.a {
  left:40px;
  top:1667px;
  width:265px;
  height:225px;
}
#u24_img.a {
  width:265px;
  height:225px;
}
#u25.a {
  width:265px;
}
#u26.a {
  left:40px;
  top:1925px;
  width:67px;
  height:67px;
}
#u26_img.a {
  width:67px;
  height:67px;
}
#u27.a {
  top:26px;
  width:63px;
}
#u28.a {
  left:130px;
  top:1925px;
  width:67px;
  height:67px;
}
#u28_img.a {
  width:67px;
  height:67px;
}
#u29.a {
  top:26px;
  width:63px;
}
#u30.a {
  left:218px;
  top:1925px;
  width:67px;
  height:67px;
}
#u30_img.a {
  width:67px;
  height:67px;
}
#u31.a {
  top:26px;
  width:63px;
}
#u32.a {
  left:40px;
  top:1514px;
  width:188px;
  height:44px;
}
#u32_img.a {
  width:188px;
  height:44px;
}
#u33.a {
  top:8px;
  width:184px;
}
#u34.a {
  left:10px;
  top:750px;
  width:20px;
  height:20px;
}
#u34_img.a {
  width:20px;
  height:20px;
}
#u35.a {
  top:2px;
  width:16px;
}
#u36.a {
  left:10px;
  top:1072px;
  width:20px;
  height:20px;
}
#u36_img.a {
  width:20px;
  height:20px;
}
#u37.a {
  top:2px;
  width:16px;
}
#u38.a {
  left:10px;
  top:1611px;
  width:20px;
  height:20px;
}
#u38_img.a {
  width:20px;
  height:20px;
}
#u39.a {
  top:2px;
  width:16px;
}
#u40.a {
}
#u40_img.a {
}
#u41.a {
}
#u42.a {
}
#u42_img.a {
}
#u43.a {
}
#u44.a {
  left:15px;
  top:770px;
  height:302px;
}
#u44_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end.a {
  position:absolute;
  left:-5px;
  top:285px;
  width:20px;
  height:18px;
}
#u44_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:302px;
}
#u45.a {
  left:15px;
  top:1094px;
  height:518px;
}
#u45_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end.a {
  position:absolute;
  left:-5px;
  top:501px;
  width:20px;
  height:18px;
}
#u45_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:518px;
}
#u46.a {
  left:10px;
  top:17px;
  width:93px;
  height:20px;
}
#u46_img.a {
  width:93px;
  height:20px;
}
#u47.a {
  top:2px;
  width:89px;
}
#u48.a {
}
#u48_img.a {
}
#u49.a {
}
#u50.a {
}
#u50_img.a {
}
#u51.a {
}
#u52.a {
}
#u52_img.a {
}
#u53.a {
}
#u54.a {
}
#u54_img.a {
}
#u55.a {
}
#u56.a {
}
#u56_img.a {
}
#u57.a {
}
#u58.a {
}
#u58_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end.a {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u59.a {
}
#u59_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end.a {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u60.a {
}
#u60_img.a {
  opacity:0.300000011920929;
}
#u61.a {
}
#u62.a {
}
#u62_img.a {
}
#u63.a {
}
#u64.a {
  position:absolute;
  left:0px;
  top:2042px;
  width:320px;
  height:350px;
}
#u65.a {
  top:2042px;
  width:320px;
  height:350px;
}
#u65_img.a {
  width:320px;
  height:350px;
}
#u66.a {
  top:167px;
  width:316px;
}
#u67.a {
  left:0px;
  top:2119px;
  width:320px;
  height:22px;
}
#u67_img.a {
  width:320px;
  height:22px;
}
#u68.a {
  width:320px;
}
#u69.a {
  left:0px;
  top:2162px;
  width:320px;
  height:22px;
}
#u69_img.a {
  width:320px;
  height:22px;
}
#u70.a {
  width:320px;
}
#u71.a {
  left:0px;
  top:2206px;
  width:320px;
  height:22px;
}
#u71_img.a {
  width:320px;
  height:22px;
}
#u72.a {
  width:320px;
}
#u73.a {
  left:0px;
  top:2075px;
  width:320px;
  height:22px;
}
#u73_img.a {
  width:320px;
  height:22px;
}
#u74.a {
  width:320px;
}
#u75.a {
  left:0px;
  top:2302px;
  width:320px;
  height:19px;
}
#u75_img.a {
  width:320px;
  height:19px;
}
#u76.a {
  width:320px;
}
#u77.a {
  left:280px;
  top:14px;
  width:25px;
  height:25px;
}
#u77_img.a {
  width:25px;
  height:25px;
}
#u78.a {
  top:4px;
  width:21px;
}
#u79.a {
  left:30px;
  top:2032px;
  width:260px;
}
#u79_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end.a {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
